<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="60" fxLayout="column">
    <mat-card *ngIf="!settings">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>settings</mat-icon>
        </div>
        <mat-card-title>No settings set</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        There are currently no settings yet available. Please update your settings under <a routerLink="/settings">settings</a>.
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="settings && !prices">
      <mat-card-content>
        <mat-progress-bar color="primary" mode="indeterminate" value="50" bufferValue="75"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="settings && prices">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>info</mat-icon>
        </div>
        <mat-card-title>Overview</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="row" fxLayout.lt-md="column">
        <cc-coin-price fxFlex [price]="prices.FAV1" [trend]=prices.FAV1.trend></cc-coin-price>
        <cc-coin-price fxFlex [price]="prices.FAV2" [trend]=prices.FAV2.trend></cc-coin-price>
        <cc-coin-price fxFlex [price]="prices.FAV3" [trend]=prices.FAV3.trend></cc-coin-price>
        <cc-coin-price fxFlex [price]="prices.FAV4" [trend]=prices.FAV4.trend></cc-coin-price>
      </mat-card-content>
    </mat-card>
    <div fxFlex="60" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between">
      <mat-card fxFlex="49">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon>payment</mat-icon>
          </div>
          <mat-card-title>{{ settings.currency }} Wallet</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="mat-h1" style="text-align: right;">
            {{ transformCurrency(fiatWallet.value) }}
          </div>
          <div fxLayout="row" fxLayoutAlign="end">
            <div fxFlex>Bitpanda Investment:</div>
            <div>{{ transformCurrency(fiatWallet.investment.internal) }}</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="end">
            <div fxFlex>External Investment:</div>
            <div>{{ transformCurrency(fiatWallet.investment.external) }}</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="end">
            <div fxFlex>Total Investment:</div>
            <div>{{ transformCurrency(totalInvestment()) }}</div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card fxFlex="49" *ngFor="let cryptoWallet of cryptoWallets">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon>payment</mat-icon>
          </div>
          <mat-card-title>{{ cryptoWallet.name }} Wallet</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="mat-h1" style="text-align: right;">
            {{ cryptoWallet.coins | number:'1.2-8':assetService.locale(settings.currency) }} {{  cryptoWallet.name }}
          </div>
          <div fxLayout="row" fxLayoutAlign="end">
            <div fxFlex>
              <span *ngIf="cryptoWallet.external == 0">Bitpanda</span>
              Investment:
            </div>
            <div>{{ transformCurrency(getInvestment(cryptoWallet)) }}</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="end">
            <div fxFlex>Current Value:</div>
            <div>{{ transformCurrency(calculateCurrentValue(cryptoWallet)) }}</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="end">
            <div fxFlex>Current Profit/Loss:</div>
            <div>{{ calculateCurrentProfitLoss(cryptoWallet) }}</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
