#
# APPLICATION CONFIG
#

logging:
  file:
     name: logs/application.log

management:
  endpoints:
    web:
      exposure:
        include: health,info

# enable gz compression
server:
  compression:
    enabled: true

spring:
  datasource:
    initialization-mode: always
  jpa:
    hibernate:
      ddl-auto: create
    open-in-view: false
    show-sql: true
