<div fxLayout="row">
  <div fxFlex="20%"></div>
  <div fxFlex>
    <mat-card *ngIf="!isAuthenticated()">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
        <mat-error *ngIf="wrongLogin">{{ message }}</mat-error>
        <mat-form-field class="full-width">
          <input matInput placeholder="username" formControlName="username" required>
          <mat-error>Please enter a valid username</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="password" formControlName="password" [type]="hide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
          <mat-error>Please enter a valid password</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
      </form>
    </mat-card>
    <mat-card *ngIf="isAuthenticated()">
      You are logged in. You can
      <a href="#" (click)="logout()">logout</a>.
    </mat-card>
  </div>
  <div fxFlex="20%"></div>
</div>
