<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="90" fxFlex.sm="80" fxFlex.gt-sm="60">
    <mat-card *ngIf="!cryptoPrices">
      <mat-card-content class="progress">
        <mat-progress-bar color="primary" mode="indeterminate" value="50" bufferValue="75"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="cryptoPrices">
      <mat-card-header>
        <mat-card-title>
          <cc-crypto-price fxFlex [fxHide.xs]="currency === 'EUR'" [price]="cryptoPrices.BTCUSD" [trend]=cryptoPrices.BTCUSD.trend></cc-crypto-price>
          <cc-crypto-price fxFlex [fxHide.xs]="currency === 'USD'" [price]="cryptoPrices.BTCEUR" [trend]=cryptoPrices.BTCEUR.trend></cc-crypto-price>
          <cc-crypto-price fxFlex [fxHide.xs]="currency === 'EUR'" [price]="cryptoPrices.ETHUSD" [trend]=cryptoPrices.ETHUSD.trend></cc-crypto-price>
          <cc-crypto-price fxFlex [fxHide.xs]="currency === 'USD'" [price]="cryptoPrices.ETHEUR" [trend]=cryptoPrices.ETHEUR.trend></cc-crypto-price>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-divider></mat-divider>
        <div id="top" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center">
          <mat-form-field fxFlex="20">
            <mat-label>Calculation currency</mat-label>
            <mat-select [(ngModel)]="currency">
              <mat-option value="USD">USD ($)</mat-option>
              <mat-option value="EUR">EUR (€)</mat-option>
            </mat-select>
          </mat-form-field>
          <div fxFlex="40" fxFlexOffset.gt-xs="10" class="mat-title">
            Total profit/loss:
            <span *ngIf="currency === 'USD'">{{ profitLoss() | currency:'USD':'symbol':'1.2-2' }}</span>
            <span *ngIf="currency === 'EUR'">{{ profitLoss() | currency:'EUR':'symbol':'1.2-2':'de-DE' }}</span>
          </div>
          <button fxFlex="20" fxFlexOffset.gt-xs="10" mat-raised-button color="primary" (click)="addItem()">Add check</button>
        </div>
        <cc-crypto-item *ngFor="let item of cryptoItems" [item]="item" (updateItem)="updateItem($event)" (removeItem)="removeItem($event)"></cc-crypto-item>
      </mat-card-content>
    </mat-card>
  </div>
</div>
