<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="60">
    <mat-card *ngIf="!crypto">
      <mat-card-content class="progress">
        <mat-progress-bar color="primary" mode="indeterminate" value="50" bufferValue="75"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="crypto">
      <mat-card-header>
        <mat-card-title>
          <div fxFlex>BTC/USD: {{ crypto.BTC.USD | currency:'USD':'symbol':'1.2-2' }}</div>
          <div fxFlex>BTC/EUR: {{ crypto.BTC.EUR | currency:'EUR':'symbol':'1.2-2':'de-DE' }}</div>
          <div fxFlex>ETH/USD: {{ crypto.ETH.USD | currency:'USD':'symbol':'1.2-2' }}</div>
          <div fxFlex>ETH/EUR: {{ crypto.ETH.EUR | currency:'EUR':'symbol':'1.2-2':'de-DE' }}</div>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>
