<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <!-- see https://docs.spring.io/spring-boot/docs/current/reference/html/howto.html#howto-configure-logback-for-logging -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <logger name="org.springframework.jdbc.core" level="INFO" />

    <root level="warn">
        <appender-ref ref="CONSOLE" />
    </root>
    <logger name="net.inpercima.cryptocheck" level="DEBUG" />
</configuration>
